
body {
    font-family: "poppins";
}

h1 {
    color: #0062ff;
    font-size: 5em;
}

.bg-grey{
    background-color: rgb(238, 236, 236);
}

.text-lightblue{
    color: #418aff;
}

.title {
  font-size: clamp(2rem, 6vw, 3.5rem);
  letter-spacing: clamp(1px, 0.8vw, 4px);
}

.text-size {
  font-size: clamp(3rem, 6vw, 3.5rem);
}

.text-justify{
    text-align: justify;
}

.course-img-wrapper {
  height: 120px;                 /* SAME height for all */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.course-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;           /* keeps logo aspect ratio */
}
